{% extends 'SocialyticsBundle:Default:index.html.twig' %}

{% block body %}
    
  {% block navigation %}
    {% include 'SocialyticsBundle:Admin:navigation.html.twig'%}
  {% endblock navigation %}
   <div class="container">
       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Create report
                </h2>
            </div>
           
      <form novalidate method="POST" action="">
        
        <div class="form-group row">
          <div class="col-lg-8">
            <label for="{{ form.title.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(form.title)}}:</label>
                <div class="col-sm-8">
                    {{ form_widget(form.title, {'attr':{'class':'form-control'}}) }}

                </div>
          </div>
        </div>
        <div class="metric-panels">
        {% for panel in form.panels %}
           
            <div class="form-group row name-holder" data-name-prototype="{{ form_widget(form.panels.vars.prototype.name)|e }}">
                <div class="col-lg-8">
                    <label for="{{ panel.name.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.name)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.name, {'attr':{'class':'form-control'}}) }}
               </div>
             </div>
            </div>
            
            <div class="form-group row metric-holder" data-metric-prototype="{{ form_widget(form.panels.vars.prototype.metric)|e }}">
                <div class="col-lg-8">
                    <label for="{{ panel.metric.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.metric)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.metric, {'attr':{'class':'form-control'}}) }}
               </div>
             </div>
            </div>
            
            <div class="form-group row format-holder" data-format-prototype="{{ form_widget(form.panels.vars.prototype.format)|e }}">
              <div class="col-lg-8">
                    <label for="{{ panel.format.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.format)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.format, {'attr':{'class':'form-control'}}) }}
               </div>
             </div>
            </div>
               
            <div class="form-group row date-from-holder" data-date-from-prototype="{{ form_widget(form.panels.vars.prototype.dateFrom)|e }}">
                <div class="col-lg-8">
                    <label for="{{ panel.dateFrom.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.dateFrom)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.dateFrom) }}
               </div>
             </div>
            </div>
            
            <div class="form-group row date-to-holder" data-date-to-prototype="{{ form_widget(form.panels.vars.prototype.dateTo)|e }}">
                <div class="col-lg-8">
                    <label for="{{ panel.dateTo.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.dateTo)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.dateTo) }}
               </div>
             </div>
            </div>
            
            <div class="form-group row compare-from-holder" data-compare-from-prototype="{{ form_widget(form.panels.vars.prototype.compareFrom)|e }}">
                <div class="col-lg-8">
                    <label for="{{ panel.compareFrom.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.compareFrom)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.compareFrom) }}
               </div>
             </div>
            </div>
               
            <div class="form-group row compare-to-holder" data-compare-to-prototype="{{ form_widget(form.panels.vars.prototype.compareTo)|e }}">
                <div class="col-lg-8">
                    <label for="{{ panel.compareTo.vars.id }}" class="col-sm-4 form-control-label">{{ form_label(panel.compareTo)}}:</label>
                <div class="col-sm-8">
                {{ form_widget(panel.compareTo) }}
               </div>
             </div>
            </div>
           
        {% endfor %}
       </div>
  </form>
      </div>
  </div>
          {% block javascripts %}
              {{ parent() }}
              <script type="text/javascript">
                var $collectionHolder;
                var $nameHolder;
                var $metricHolder;
                var $formatHolder;
                var $dateFromHolder;
                var $dateToHolder;
                var $compareFromHolder;
                var $compareToHolder;
                
                // setup an "add a tag" link
                var $addMetricLink = $('<a href="#" class="add_metric_link">Add metric</a>');
                var $newLinkP = $('<p></p>').append($addMetricLink);

                jQuery(document).ready(function() {
                    // Get the ul that holds the collection of tags
                    $collectionHolder = $('div.metric-panels');
                    $nameHolder = $('div.name-holder');
                    $metricHolder = $('div.metric-holder');
                    $formatHolder = $('div.format-holder');
                    $dateFromHolder = $('div.date-from-holder');
                    $dateToHolder = $('div.date-to-holder');
                    $compareFromHolder = $('div.compare-from-holder');
                    $compareToHolder = $('div.compare-to-holder');
                    // add the "add a tag" anchor and li to the tags ul
                    $collectionHolder.append($newLinkP);

                    // count the current form inputs we have (e.g. 2), use that as the new
                    // index when inserting a new item (e.g. 2)
                    $collectionHolder.data('index', $collectionHolder.find(':input').length);

                    $addMetricLink.on('click', function(e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // add a new metric form (see next code block)
                        addMetricForm($collectionHolder, 
                            $nameHolder, $metricHolder, $formatHolder, 
                            $dateFromHolder, $dateToHolder, $compareFromHolder, 
                            $compareToHolder, $newLinkP);
                    });
                });
                
                function addMetricForm($collectionHolder, 
                            $nameHolder, $metricHolder, $formatHolder, 
                            $dateFromHolder, $dateToHolder, $compareFromHolder, 
                            $compareToHolder, $newLinkP) {
                    // Get the data-prototype explained earlier
                    var namePrototype = $nameHolder.data('name-prototype');
                    var metricPrototype = $metricHolder.data('metric-prototype');
                    var formatPrototype = $formatHolder.data('format-prototype');
                    var dateFromPrototype = $dateFromHolder.data('date-from-prototype');
                    var dateToPrototype = $dateToHolder.data('date-to-prototype');
                    var compareFromPrototype = $compareFromHolder.data('compare-from-prototype');
                    var compareToPrototype = $compareToHolder.data('compare-to-prototype');
                    // get the new index
                    var index = $collectionHolder.data('index');

                    // Replace '__name__' in the prototype's HTML to
                    // instead be a number based on how many items we have
                    var newMetricWidget = metricPrototype.replace(/__name__/g, index);
                    var newNameWidget = namePrototype.replace(/__name__/g, index);
                    var newFormatWidget = formatPrototype.replace(/__name__/g, index);
                    var newDateFromWidget = dateFromPrototype.replace(/__name__/g, index);
                    var newDateToWidget = dateToPrototype.replace(/__name__/g, index);
                    var newCompareFrom = compareFromPrototype.replace(/__name__/g, index);
                    var newCompareToWidget = compareToPrototype.replace(/__name__/g, index);
                    // increase the index with one for the next item
                    $collectionHolder.data('index', index + 1);

                    // Display the form in the page in an li, before the "Add a tag" link li
                    var $newFormDiv = $('<div></div>');
                    var $newNameDiv = $('<div class="form-group row"><div class="col-lg-8"><label for="'+namePrototype.id+'" class="col-sm-4 form-control-label">Name:</label><div class="col-sm-8">'+newNameWidget+'</div></div></div>');
                
               $newFormDiv.append($newNameDiv);
                    ////.append(newNameWidget).append(newMetricWidget).append(newFormatWidget);
                    $newLinkP.before($newFormDiv);
            }
              </script>
          {% endblock javascripts %}
{% endblock body %}
  
